@page
@model PeluqueriaStar.Pages_HorarioEstelista.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HorarioEstelista</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioEstelista.Disponibilidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioEstelista.Disponibilidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioEstelista.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioEstelista.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioEstelista.Horario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioEstelista.Horario)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HorarioEstelista?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
