@page
@model PeluqueriaStar.Pages_Cliente.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Dirrecion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Dirrecion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Edad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Membresia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Membresia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.CantidadCitas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.CantidadCitas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Contrasena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Contrasena)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.EstadoSalud)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.EstadoSalud)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Celular)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cliente.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
